@page
@model CandidateManagement_NguyenDinhDuy.Pages.CandidateProfiles.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CandidateProfile[0].CandidateId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CandidateProfile[0].Fullname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CandidateProfile[0].Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CandidateProfile[0].ProfileShortDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CandidateProfile[0].ProfileUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CandidateProfile[0].Posting)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CandidateProfile) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CandidateId)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fullname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfileShortDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfileUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Posting.PostingId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CandidateId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CandidateId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CandidateId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
